* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 1rem;
    background-color: rgb(19, 21, 30);
    color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

p {
    margin: 0 0 1em;
}

img {
    width: 100%;
}

canvas {
    outline: 1px solid black;
    display: block;
    margin: auto;
}

.canvas-container {
    width: 40vw;
    margin: .5em auto;
}