* {
    box-sizing: border-box;
}

html {
    color: #FFF;
    font-family: Poppins-Medium, sans-serif;
    font-weight: 500;
    line-height: 1.25;
}

body {
    font-size: 1rem;
    margin: 0;

    background-color: var(--clr-primarybase)
}

img {
    width: 100%;
}