.btn, .btn-font, .btn-editor {
    display: flex;
    padding-inline: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    justify-content: center;
    align-items: center;
}

.btn.btn-download {
    background-color: chocolate;
}

.btn.btn-save {
    background-color: rgb(100, 199, 100);
}

.btn.btn-share {
    background-color: cornflowerblue;
}

.btn-font {
    background-color: black;
}

.btn-font.fill-color {
    color: black;
    background-color: #FFF;
}

.btn-font.stroke-color {
    background-color: black;
}

.btn-editor {
    background-color: rgb(151, 136, 0);
}

.btn-editor.btn-add-input {
    background-color: green;
}

.btn-editor.btn-delete-input {
    background-color: rgb(202, 50, 50);
}

/* stroke and fill colors */
.stroke-color, .fill-color {
    position: relative;
}

.stroke-color-picker, .fill-color-picker {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}