.hidden {
    display: none;
}

.flex {
    display: flex;
}

.flex.column{
    display: flex;
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}
 
/* list helperers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}