/* meme-action-container */

.meme-action-container, .font-editors-container,  .input-editors-container{
    gap: 15px;
    height: 50px;
    justify-content: center;
}

.font-editors-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.1em;
    background-color: oldlace;
    opacity: .5;
    border-radius: 15px;
    width: 100%;
}

.font-editors-container .font-select {
    grid-column: 1 / span 3;
    text-align: center;
    border-end-start-radius: 15px;
    border-inline-end: 2px solid black;
}