.editor-tools {
    gap: 1.25rem;
    font-weight: 600;
}

.editor-tools .meme-text-input {
    height: 3.675rem;
    width: 450px;
    border: none;
    border-radius: 1.75rem;
    text-align: center;
    font-size: clamp(1vw, 1em, 3vw);
    padding-inline-start: 30px;
    background-color: rgb(236, 234, 234);
}
