.editor-tools {
    padding: 25px;
    gap: 1.25rem;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.221);
    box-shadow: 0 2px 4px rgba(128, 128, 128, .2);
    border-radius: 15px;
}

.editor-tools .meme-text-input {
    color: #fff;
    height: 3.675rem;
    width: 450px;
    border: none;
    border-radius: 1.75rem;
    text-align: center;
    font-size: clamp(1vw, 1em, 3vw);
    padding-inline-start: 30px;
    background-color: #1c1e22;
    width: 100%;
}