/* Tablet */
@media (min-width: 880px) {
    .editor-layout {
        flex-direction: row;
    }

    .meme-container {
        width: 100%; 
        max-width: 840px;
        margin: 0 auto;
    }

    .meme-image {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

/* Desktop */
@media (min-width: 1020px) {
    .editor-layout {
        flex-direction: row;
    }
    
    .meme-container {
        width: 100%; 
        max-width: 980px;
        margin: 0 auto;
    }

    .meme-image {
        flex: 1 1 calc(25% - 10px);
        max-width: calc(25% - 10px);
    }

    .search-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .search-box {
        max-width: 50%;
    }

    .keywords-container {
        max-width: 50%;
        justify-content: flex-end;
    }
}